<section class="oferty">
  <article class="laptop">
    <div class="image">
      <img src="https://www.serwisatium.pl/uploads/serwis/naprawa-wymiana-dyskow-twardych.jpg" />
    </div>
    <div class="desc-laptop">
      <h2>
        Laptop Service
      </h2>
      <p>
        We repair every model of notebook, ultrabook and netbook. We will remove all faults and bring your laptop back to life. You won't believe a laptop can perform so well. Take care of your equipment, let yourself be surprised and check what services we provide!
      </p>
    </div>
    <div class="circle">
      <img width="60%" src="https://www.serwisatium.pl/img/svg/naprawa-komputerow-i-laptopow.svg" />
    </div>
  </article>
  <article class="computer">
    <div class="desc-computer">
      <h2>
        Computer Service
      </h2>
      <p>
        We service all kinds and types of pectets, so we will easily repair and modernize your desktop computer. You'll be surprised at how wonderfully it can be sped up and refined. Make working on your PC a pleasure and see what repairs we do!
      </p>
    </div>
    <div class="image">
      <img src="https://www.serwisatium.pl/uploads/serwis/sprawdzanie-przyczyny-zepsutych-laptopow.jpg" />
    </div>
    <div class="circle">
      <img width="55%" src="https://www.serwisatium.pl/img/svg/serwisowanie-komputerow-uslugi-naprawy.svg" />
    </div>
  </article>
</section>