.contact {
    height: 100vh;
}

.contact::after, .contact::before {
    height: 100vh!important;
}

.container-contact {
    width: 100%;
    height: 80vh;
    background: white;
    border-radius: 19px;
    display: flex;
}

.contact-info {
    width: 35%;
}

.contact-info h2 {
    color: #2F3D7E;
    margin: 0;
}

.contact-info p {
    color: #101820;
}

.left-contact {
    background: #f8e8e6;
    max-width: 100%;
    height: calc(80vh - 10px - 5em);
    border-radius: 19px;
    margin: 5px;
    padding: 2.5em;
    position: relative;
    overflow: hidden;
}

.big-circle, .small-circle {
    position: absolute;
    border-radius: 100%;
}

.big-circle {
    background: #2F3D7E;
    width: 400px;
    height: 400px;
    bottom: -150px;
    right: -150px;
}

.small-circle {
    background: rgb(230, 248, 239, 0.9);
    width: 150px;
    height: 150px;
    right: 120px;
    bottom: 120px;
    z-index: 100;
}

.icon {
    display: flex;
    gap: 1em;
}

.icons {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 83%;
}

.links {
    display: flex;
    height: fit-content;
    align-items: center;
    gap: 1em;
}

.links a {
    background-color: transparent;
    width: 45px;
    height: 45px;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease;
}

@media screen and (max-height: 750px) {
    .links {
        gap: .5em;
    }
    .links a {
        width: 35px;
        height: 35px;
    }
}

.links a:hover {
    background-color: #E6F8EF;
}

.form-contact {
    width: 65%;
    height: 80vh;
}

.field {
    width: 100%;
    height: 10vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    margin-top: 5em;
}

.field-email {
    width: 100%;
    height: 10vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: left;
    padding: 2em 3em;
}

.input-div {
    display: flex;
    flex-direction: column;
    width: 40%;
}

.input-text {
    display: flex;
    flex-direction: column;
    width: 91%;
}

.input-div input {
    border: none;
    border-bottom: 1px solid black;
    outline: none;
    padding: 10px;
}

textarea {
    padding: 1em;
    border: none;
    border-bottom: 1px solid black;
    outline: none;
}

.submit {
    width: 91%;
    padding-left: 3em;
    height: 15vh;
    display: flex;
    align-items: flex-end;
    justify-content: right;
    overflow: hidden;
    position: relative;
}

.submit-btn {
    padding: 1.5em 2.5em;
    border: none;
    background-color: #2F3D7E;
    color: white;
    border-radius: 9px;
    cursor: pointer;
    transition: all 0.3s ease;
    box-shadow: -5px 11px 13px -7px rgba(47, 61, 126, 1);
    font-size: medium;
}

.submit-btn:hover {
    background-color: #f8e8e6;
    color: #2F3D7E;
}

textarea {
    resize: none;
}

@media screen and (max-height: 750px) {
    .big-circle {
        width: 300px;
        height: 300px;
        bottom: -100px;
        right: -100px;
    }
    .small-circle {
        width: 120px;
        height: 120px;
        bottom: 100px;
        right: 100px;
    }
    .twitter {
        width: 22px;
    }
    .linked {
        width: 20px;
    }
    .fb {
        width: 14px;
    }
    .field-email {
        padding: 2em 2.5em;
    }
}