.oferty {
    height: 100vh;
    width: 100%;
}

.laptop, .computer {
    width: 100%;
    height: 50vh;
    display: flex;
    position: relative;
}

.image img {
    border-radius: 9px;
    height: 100%;
    max-width: 735px;
}

.desc-computer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin-right: 10rem;
    font-size: larger;
}

.desc-laptop {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 9rem;
    justify-content: center;
    font-size: larger;
}

.circle {
    width: 200px;
    height: 200px;
    background: white;
    border-radius: 100%;
    top: calc(735px / 5);
    left: 43%;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
}

.desc-laptop p, .desc-computer p {
    color: #969696;
}

@media screen and (max-height: 750px) {
    .image img {
        width: 550px;
        height: 240px;
    }
    .image {
        height: 240px;
    }
    .oferty {
        width: calc(100% - 8%);
        height: 50vh;
    }
    .desc-computer, .desc-laptop {
        font-size: small;
    }
    .desc-computer {
        margin-right: 5rem;
    }
    .desc-laptop {
        margin-left: 7em;
    }
    .circle {
        width: 120px;
        height: 120px;
        top: calc(250px / 4);
        left: 45%;
    }
    .circle img {
        width: 40%;
    }
    .laptop, .computer {
        height: 30vh;
    }
}