:root {
    --hover: #EEFBFF;
}

.table {
     width: 75%;
     background-color: transparent;
     border-collapse: collapse;
     border-width: 0px;
     color: #03AAEE;
 }

.table td, .table th {
    border: none;
    padding: .5rem;
    font-size: 17px;
}

.table thead {
    background-color: #162d50;
    color: white!important;
}

.table th {
    font-weight: lighter;
}

.table .content {
    cursor: pointer;
    transition: all .3s ease;
}

.content td {
    padding: 1rem;
}

.table .content:hover {
    background: var(--hover)!important;
}

.content:hover .price {
    color: var(--light-blue)!important;
}

.price {
    width: 15%;
    text-align: left;
    color: black;
    transition: all .3s ease;
}

.title {
    width: 85%;
}

.title::after {
    content: '\2023';
    margin-left: 10px;
    transition: .2s margin-left ease;
}

.content:hover .title::after {
    margin-left: 15px;
}

.rotate::after {
    transform: rotate(90deg);
    display: inline-block;
    font-size: 1.2rem;
    position: absolute;
    margin-left: 15px;
}

.content:hover .rotate::after {
    margin-left: 15px;
}

.hidden {
    display: none;
}

.content-hidden td {
    padding: 1rem;
}

.content-hidden {
    background: var(--hover);
}

.service-text {
    color: #162D50;
    width: 85%;
}

.submit-service {
    width: 15%;
}

#content {
    height: 0;
    overflow: hidden;
    transition: height 0.3s ease;
}

#content td {
    padding: 1rem;
}

.submit-service-btn {
    background: #162D50;
    border: none;
    outline: none;
    font-size: 15px;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    padding: 5px;
}